@charset "utf-8";
/* CSS Document */

div.col9 { margin:auto;}
h2 { margin-top:5%; margin-bottom:2%;  font-weight:100; font-size:28px;}
p { color:#cccccc; line-height:20px; font-size:15px;}
a { text-decoration:none; color:#f68d8d;}

@media only screen and (max-width: 480px) {
	h2 { font-size:22px;}
	
}