@charset "utf-8";
/* CSS Document */

#OrderInfo { margin:auto; margin-top:4%; font-size:15px;}
.FirstCol { display:inline-block; width:20%; margin-right:2%; text-align:right; color:#8d8d8d; text-transform:uppercase; font-size:1.3em;}
.LastCol { display:inline-block; width:72%; color:#F5F5F5; font-size:1.3em;}
#BankNote { margin-top:2%;}
#BankInfo {  width:30%; margin-top:3%; margin-bottom:3%; background:#333333; padding:1%; display:block; border: 1px solid #404040; }
#LastLine { margin-bottom:3%; margin-top:2%;}

.Attention {  color:#00aef0;}

@media only screen and (max-width: 980px) {
	.FirstCol{ width:30%;}
	.LastCol{ width:62%;}
	#BankInfo { width:45%;}

}

@media only screen and (max-width: 780px) {
	.FirstCol{ width:45%;}
	.LastCol{ width:50%;}
	#BankInfo { width:65%;}

}

@media only screen and (max-width: 480px) {
	.FirstCol{ width:55%; font-size:15px;}
	.LastCol{ width:40%; font-size:15px;}
	#BankInfo { width:100%;}
}

	